.profile__avatar-edit {
  background-image: url(../../../images/pencil.svg);
  background-color:rgba(0, 0, 0, 0.8);;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 3;
  opacity: 0;
  transition: .3s;
}

.profile__avatar-edit:hover {
  cursor: pointer;
  opacity: 1;
}

@media (max-width: 560px) {
  .profile__avatar-edit:hover {
    opacity: 0;
  }
}