.element__like_active {
  box-sizing: border-box;
  width: 22px;
  height: 19px;
  align-self: center;
  background-image: url(../../../../images/love-active.svg);
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.element__like_active:hover {
  opacity: 0.5;
  cursor: pointer;
}