.element__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  box-sizing: border-box;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/korzina.svg);
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  display: none;
}


.element__delete:hover {
  opacity: 0.5;
  cursor: pointer;
}
